.project {
  border-radius: 25px;
  padding: 2em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear, background 0.5s;
  position: relative;
  background: transparent;
  border: 1px solid transparent;
  backdrop-filter: blur(10px);
  overflow: hidden;
  z-index: 1;
}

.project::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-glass);
  z-index: -1;
  border-radius: 25px;
  opacity: 0.1;
}

.project:hover {
  box-shadow: var(--shadowmore);
  border: 1px solid rgba(255, 255, 255, 0.09);
}

.project:hover::before {
  --clr-glass: var(--clr-glass-hover);
  opacity: 0.2;
}

.project * {
  position: relative;
  z-index: 2;
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}
