.footer {
  padding: 3em 0;
  font-size: 0.66rem;
  margin-top: 4em;
  text-align: center;
}

.footer div:first-child {
  margin-bottom: 20px;
}

.footer__link {
  
  font-weight: 600;
  color: var(--clr-fg);
}

@media (max-width: 600px) {
  .footer {
    padding: 2em;
    margin-top: 3em;
  }
}
